{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="background">
		<h1>Jangan Dibuang, Ini 4 Manfaat Biji Srikaya yang Jarang Diketahui</h1>
		<br/>
		<img style="width:250px; height:200px;" src="{% static 'images\srikaya.jpg' %}" class="rounded mx-auto d-block" alt="Buah Srikaya">
		<br/>
		<article>
			Srikaya dikenal dari daging buahnya yang berwarna putih yang lembut dan kenyal dengan bagian luarnya yang keras. 
			Buah ini tumbuh di kawasan tropis seperti Asia Tenggara. Buah srikaya memiliki kandungan nutrisi sehat seperti antioksidan hingga vitamin A. 
			Rupanya selain daging buah yang lezat, biji srikaya juga bermanfaat bagi kehidupan sehari-hari. Sebagian besar orang mungkin berpikir 
			biji srikaya tidak berguna, tetapi ternyata biji ini juga memiliki banyak kegunaan yang luar biasa.
			Biji hitam mengkilap dari srikaya memang tak dapat dikonsumsi karena sedikit beracun. Namun, biji ini dapat dimanfaatkan untuk 
			kebutuhan lain seperti membasmi serangga dan hama.
			Berikut manfaat biji srikaya yang belum banyak diketahui, dilansir Liputan6.com dari Stylecraze, Selasa (6/8/2019).
		</article>
		<h2>Membasmi Kutu Rambut</h2>
		<article>
			Kutu rambut menjadi gangguan tersendiri pada kepala. Kutu ini bisa memengaruhi kulit kepala dan menciptakan sensasi gatal tak tertahankan. 
			Kutu rambut bisa dibasmi dengan shampo atau obat khusus. Namun, ada cara yang lebih alami yaitu menggunakan biji srikaya.
			Caranya: Giling biji srikaya menjadi bentuk bubuk dan campur dengan sedikit air hingga membentuk pasta. Oleskan di kepala dan biarkan 
			selama 10 menit. Cuci bersih dengan air dingin biasa. Proses ini, jika diulang dua kali seminggu selama sebulan akan memberikan 
			hasil yang luar biasa dan membuat kepala Anda benar-benar bebas kutu.
		</article>
		<h2> Pengusir serangga </h2>
		<article>
			Apakah Anda muak dengan serangan serangga, nyamuk dan semut di rumah? Biji srikaya dapat membantu Anda mengatasi gangguan ini. 
			Campurkan beberapa biji srikaya yang telah dihaluskan menjadi bubuk dalam air dan biarkan selama beberapa hari. Pengusir serangga buatan alami ini 
			sudah siap digunakan. Taburkan campuran di sekitar rumah, terutama di daerah yang sering terdapat serangga. Hasilnya akan instan dan luar biasa 
			mengusir gangguan serangga. Insektisida yang dibuat dari biji srikaya ini harus dijauhkan dari mata karena memiliki potensi untuk membutakan 
			seseorang untuk sementara waktu.
		</article>
		<h2> Produksi Bio-Gas </h2>
		<article>
			Negara-negara seperti Jerman dan beberapa negara Eropa lainnya menggunakan keajaiban kecil ini untuk tujuan komersial produksi bio gas. 
			Biji buah ini mengandung asam lemak terperangkap yang kaya akan metil-ester yang memicu produksi gas. Biji srikaya memang cukup beracun dan konsumsi 
			yang tidak disengaja dapat menyebabkan sakit perut parah. Jadi saat Anda menikmati srikaya sebagai camilan malam, pertama-tama pastikan untuk membuang 
			semua bijinya dengan hati-hati.
		</article>
		<h2>Manfaat buah srikaya</h2>
		<article>
			<b>Tinggi antioksidan</b> <br/> Srikaya sarat dengan antioksidan, yang memerangi radikal bebas di tubuh. Tingkat radikal bebas yang tinggi dapat 
			menyebabkan stres oksidatif, yang berhubungan dengan penyakit kronis, termasuk kanker dan penyakit jantung. Senyawa tertentu dalam cherimoya - 
			termasuk asam kaurenoic, flavonoid, karotenoid, dan vitamin C - memiliki efek antioksidan yang kuat.<br/><br/>
			<b>Menambah berat badan sehat</b> <br/> Srikaya baik untuk mereka yang ingin menambah berat badan. Campuran madu dan srikaya ketika dikonsumsi 
			secara teratur akan membantu menambah berat yang dibutuhkan dan kalori yang sangat dibutuhkan.<br/> <br/>
			<b>Mencegah Asma</b> <br/> Srikaya kaya akan vitamin B6, yang membantu mengurangi peradangan bronkial dan membantu mencegah serangan asma.<br/><br/>
			<b>Mencegah Serangan Jantung</b><br/> kandungan magnesium dalam srikaya membantu mempertahankan jantung dari serangan jantung dan dapat membantu 
			mengendurkan otot. Selain itu, vitamin B6 dalam srikaya membantu mencegah pengumpulan homocystein yang juga meminimalkan risiko penyakit jantung.<br/><br/>
			<b>Lancarkan pencernaan</b><br/> Srikaya kaya akan tembaga dan serat makanan, yang membantu pencernaan, membantu meringankan buang air besar dan 
			mengatasi sembelit.<br/><br/>
			<b>Sangat baik untuk penderita diabetes</b><br/> Kelimpahan serat makanan dalam srikaya membantu memperlambat penyerapan gula dan mengurangi risiko
			diabetes tipe-2.<br/><br/>
			<b>Kontrol Tekanan Darah</b> <br/>Srikaya adalah sumber kalium dan magnesium yang baik yang membantu menjaga tingkat tekanan darah tetap terkendali. 
			Bagi mereka dengan tingkat tekanan darah yang berfluktuasi, srikaya akan sangat membantu.<br/><br/>
			<b>Mengurangi Kolesterol</b><br/> Srikaya mengandung niasin dan serat makanan dalam kadar tinggi, yang membantu menurunkan kadar kolesterol 
			secara efektif.<br/><br/>
			<b>Mengobati Anemia</b><br/>Srikaya berfungsi sebagai stimulan, pendingin, ekspektoran, dan hematematik. Selain itu, sumber zat besi yang kaya 
			juga berguna dalam mengobati anemia.
		</article>
	</div>
{% endblock %}