{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="background">
		<div class ="container">
			<br/>
			<div class="row">
				<div class= "col">
					<img style="width:250px; height:200px;" src="{% static 'images\kentang.jpg' %}" class="rounded mx-auto d-block" alt="Kentang">
				</div>
				<div class= "col">
					<a href= "id1"><h2>Tak Perlu Dikupas, Ini 5 Manfaat Konsumsi Kentang Bersama Kulitnya</h2></a>
					<p>On 09 Agustus 2019</p>
					<br />
					<p>By Anugerah Ayu Sendari</p>
				</div>
			</div>
			<br/>
			<hr/>
			<div class="row">
				<div class= "col">
					<img style="width:250px; height:200px;" src="{% static 'images\srikaya.jpg' %}" class="rounded mx-auto d-block" alt="Buah Srikaya">
				</div>
				<div class= "col">
					<a href= "id2"><h2>Jangan Dibuang, Ini 4 Manfaat Biji Srikaya yang Jarang Diketahui</h2></a>
					<p>On 06 Agustus 2019</p>
					<br />
					<p>By Anugerah Ayu Sendari</p>
				</div>
			</div>
			<br/>
			<hr/>
			<div class="row">
				<div class= "col">
					<img style="width:250px; height:200px;" src="{% static 'images\buah_naga.jpg' %}" class="rounded mx-auto d-block" alt="Buah Naga">
				</div>
				<div class= "col">
					<a href= "id3"><h2>Simak, 6 Manfaat Buah Naga yang Penting Bagi Tubuh</h2></a>
					<p>On 06 Juli 2019</p>
					<br />
					<p>By Putu Elmira</p>
				</div>
			</div>
			<br/>
		</div>
	</div>
{% endblock %}
