{% extends 'base.html' %}	

{% load static %}
{% block content %}

<div class="backgroundputih">
	<div class="jumbotron jumbotron-fluid header">
  		<div class="container">
    		<h1 class="display-4 title">Create Your Testi!</h1>
    		<p class="lead message"> Please kindly give us your honest opinion about our application</p>
  		</div>
	</div>

	<form action="{% url 'home:create_testi' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    
    <input class="btn submit" type="submit" value="Submit">
  </form> 
</div>

{% endblock %}