{% extends 'base.html' %}	

{% load static %}
{% block content %}

<div class="background">
	<div class="jumbotron jumbotron-fluid header1">
  		<div class="container">
    		<h1 class="display-4 title">Our User Testimony!</h1>
    		<p class="lead message">Our application has satisfied many people. Are you ready to be the next one?</p>
  		</div>
	</div>

  {% for testi in data %}

  <div class="card testicard" style="width: 25rem;">
    <div class="card-body">
      <h5 class="card-title ">{{testi.nama}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{testi.usia}} years old</h6>
      <p class="card-text">{{testi.pesan}}</p>
    </div>
  </div>
    
  {% endfor %}
	<a class = "btn btn-primary btnaddtesti" href="{% url 'home:create_testi' %}">Add Testimoni</a>

</div>

{% endblock %}