{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Style disini -->
<style>
  .allbg{
    margin-top:0px;
    position: absolute;
    width: 100vw;
    height: 450px;
    left: 0px;
    top: 207px;
    background: linear-gradient(180deg, #516BC8 0%, rgba(170, 78, 78, 0.2) 100%, rgba(148, 85, 108, 0.2) 100%);

  }
  .master{

  }
  .question{
    /* background-color: grey; */
    margin:100px 450px auto 470px;
    font-size: 25px
  }
  .buttons{
    margin-top: 20px;
    margin-left: 37%;
  }
  .soal{
    font-size:40px;
    color: #F4EE4C;
  }
  .upload-button{
    margin-top: 30px;
    margin-left: 45%;
    background-color: #7AC8F4;
  }


</style>

<div class="allbg">
  <div class="master">

    <form id="activity-form" method="post">
      {% csrf_token %}

      <div class="alert alert-danger" role="alert" style="display:none;">
        Harap diisi semua ya!
      </div>


      <div class="question 0">
        <h4 class="soal">How old are you?</h4>
        <input type="text" name="age" placeholder="16, 31" value="{{ age_val }}">
      </div>

      <div class="question 1">

        <h4 class="soal">What is your gender?</h4>
        <input type="radio" name="gender" value="male" checked> Male <br>
        <input type="radio" name="gender" value="female"> Female <br>
      </div>

      <div class="question 2">
        <h4 class="soal">How much do you weight?</h4>
        <input type="text" name="weight" placeholder="57kg, 90kg"  value="{{ weight_val }}">
      </div>

      <div class="question 3">
        <h4 class="soal">How tall are you?</h4>
        <input type="text" name="height" placeholder="165cm,178cm"  value="{{ height_val }}">
      </div>

      <div class="question 4">
        <h4 class="soal">How active are you?</h4>
        <input type="radio" name="activeness" value="rendah"> I lay in bed most of the time<br>
        <input type="radio" name="activeness" value="sedang"> I go to work/school everyday<br>
        <input type="radio" name="activeness" value="tinggi" checked> I need atleast 10.000 steps everyday<br>
      </div>

      <div class="question 5">
        <h4 class="soal">What is the last food you ate</h4>
        <input type="text" name="last-food" placeholder="ayam, rendang"  value="{{ food_val }}">

      </div>

      <div class="question 6">
        <h4 class="soal"> How long do you normally sleep? </h4>
        <input type="text" name="sleep-time"  value="{{ sleep_val }}">
      </div>

      <div class="calories-need">
        {% if energy > -1 %}
        <h4 class="calories"> Kalori yang anda butuhkan = {{ energy }}</h4>
        {% else %}
        <h4 class="calories"></h4>
        {% endif %}
      </div>
      <div class="buttons">
        <button type="button" name="button" class="btn prev-button" style="background-color:#78CD5A" onclick="prevQ(this)">Previous</button>
        <button type="button" name="button" class="btn next-button" value="0" style="background-color:#78CD5A" onclick="nextQ(this)">Next</button>
      </div>


      <button type="submit" name="button" class="btn upload-button""> Submit All Answers</button>
    </form>
  </div>

</div>







<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
var currPage = {{ empty }};
$(".question").hide();
$(".0").show();
$(".upload-button").hide()
if( currPage == 0){
  $(".prev-button").hide()
}
if(currPage == 6){
  $(".upload-button").show()
}
function nextQ(){
  $(".question").hide()
  currPage++;
  $("."+currPage).show()

  if(currPage == 6){
    $(".upload-button").show()
    $(".next-button").hide()
  }
  $(".prev-button").show()
}


function prevQ(){
  $(".question").hide()
  currPage--;
  $("."+currPage).show()

  if(currPage == 0){

    $(".prev-button").hide()
  }
  $(".upload-button").hide()
  $(".next-button").show()
}



function moveToQuestion(q, status){
  if(status == 0){

  }
  else{
    $(".alert-danger").show()
    $(".question").hide()
    $("."+q).show()
  }
}

$(window).load(moveToQuestion({{ empty }},{{ uploaded }}))


</script>








{% endblock content %}
