{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Style disini -->
<style>
  .bgresult{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 207px;

    background: linear-gradient(180deg, rgba(255, 92, 0, 0.56) 0%, rgba(52, 124, 0, 0.56) 100%);
  }
  .frame{
    <!-- background-color: grey; -->
    width: 500px;
    height: 300px;
    margin: 100px 400px;
  }
  .resultext{
    margin-bottom: 50px;
    text-align: center;
  }
  .heading{
    color: #005C62;
  }
  .calories-need{
    text-align: center;
  }

</style>

<div class="bgresult">

  <div class="frame">
    <div class="resultext">
      <h1 class="heading">Your Current Condition</h1>
    </div>

    <div class="calories-need">
      {% if energy > -1 %}
      <h4 class="calories"> Kalori yang anda butuhkan = {{ energy }}</h4>
      {% else %}
      <h4 class="calories"></h4>
      {% endif %}
    </div>
  </div>
</div>


{% endblock content %}
