{% extends "base.html" %}
{% load static %}

{% block content %}
	<h1 style = "margin-left: 120px; margin-top: 30px; font-family: Roboto; color: black;">Please Login Here</h1>
	<div class = "container" style = "margin-top:120px">
	<div class="row">
	<div class="col-sm-6">
		<form action = "{% url 'login:add_login' %}" method = "POST">
			{% csrf_token %}
			
			{% if messages %}
				{{ message }}
			{% endif %}
			
			<label for = "username">Username:</label>
			<input type = "text" name = "username" placeholder = "Masukkan username">
			<label for = "password">Password:</label>
			<input type = "password" name = "password" placeholder = "Masukkan password">
			<button type = "submit" class = "btn btn-primary">Log In</button></a>
		</form>
	</div>
	</div>
	</div>
{% endblock %}