
.background{
	background: linear-gradient(180deg, #516BC8 0%, rgba(170, 78, 78, 0.2) 100%, rgba(148, 85, 108, 0.2) 100%);
	max-height:1000%;
	width:auto;
}
h1{
	color:#ffffff;
}
h2{
	color:#ffffff;
}
p{
	color:#800000;
}
img{
	max-height:100%;
	width:auto;
}
article{
	color:#800000;
}