.rect {
	width: 100%;
    background: #7AC8F4;
    text-align: justify;
    padding-bottom: 2%;
    
}

.rect:before{
    content: "";
    display: flex;
    padding-top: 2%;

}

.motto {
	font-size: 3vh;
	font-weight: bold;
}

h3 {
	text-align: center;
	margin : 0 !important;
}

<<<<<<< HEAD
.nav-item{
=======
.nav-item, navlogin{
>>>>>>> utility
	margin-left: 5%;
	margin-right: 10%;
	padding: 0 !important; 
}
.navlogin{
<<<<<<< HEAD
	margin-left : 200%;
}

.background{
	position: absolute;
	width: 100%;
	height: auto;
	background: linear-gradient(180deg, #516BC8 0%, rgba(170, 78, 78, 0.2) 100%, rgba(148, 85, 108, 0.2) 100%);
}

.header{
	background: linear-gradient(180deg, #516BC8 0%, rgba(170, 78, 78, 0.2) 100%, rgba(148, 85, 108, 0.2) 100%);
	margin-top: 2rem !important;
	height: 25%;
	padding : 1rem !important;
	margin-left: 1rem !important;
	margin-right: 40rem !important;	
	
}

.header1{
	margin-top: 2rem !important;
	height: 25%;
	padding : 1rem !important;
	margin-left: 1rem !important;
	margin-right: 45rem !important;	
}

.title {
	font-size : 4rem;
}

.background{

}

.testicard{
	margin : 2rem !important;
}

.message{
	font-size: 1,5rem;
}

.btnaddtesti{
	margin-left: 2rem;
	margin-bottom: 2rem;
}

p > label {
	font-size: 3rem;
	font-weight: bold;
	margin-left: 2rem !important;
	margin-right : 3rem !important;
	margin-bottom: 0 !important;
}

#id_nama, #id_usia, #id_pesan, .submit {
	margin-left: 2rem !important;	
	/*margin-right: rem !important;*/
}
=======
	color: white !important;
}

>>>>>>> utility
